.navLinks {
  display: flex;
  flex-direction: column;
  align-items: center;

  align-items: center;
  /* basis-full */
  margin-bottom: 1rem;
  /* padding-bottom: 1rem; */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navigation {
  visibility: hidden;
}

.btnToggle {
  position: fixed;
  top: 0;
  display: flex;
  /* justify-content: space-around; */
  gap: 30rem;
  margin: 1rem 1rem 0rem;
}
